@model proyecto1.Models.GameLogic.LogicaTorneo;

<div class="col2">
    <div class="row8">
        <div class="posicionTorneo">@Model.cuatro[0]</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="posicionTorneo">@Model.cuatro[1]</div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <div class="col1">
            <div class="row8">
                <div class="posicionTorneo">@Model.dos[0]</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row8">
                <div class="posicionTorneo">@Model.ganador</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row8">
                <div class="posicionTorneo">@Model.dos[1]</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="row8">
        <div class="posicionTorneo">@Model.cuatro[2]</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="posicionTorneo">@Model.cuatro[3]</div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>