@{
    ViewData["Title"] = "Log In";
}

@model LogIn
    <h1>Ingresa</h1>
    <form class="login">
        <div class="row">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="col-md-3 form-horizontal">
                    <br />
                    @Html.LabelFor(x => x.User, new { @class = "" })
                    @Html.TextBoxFor(x => x.User, new { @class = "form-control", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.User, null, new { @class = "text-danger" })
                    <br />

                    @Html.LabelFor(x => x.Password)
                    <div class="input-group">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                       
                    </div>
                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                    <br />

                    <button class="btn btn-primary" type="submit">
                        Iniciar sesión
                    </button>

                    <div class="checkbox-inline pull-right">
                        @Html.CheckBoxFor(x => x.RememberMe, new { @class = "" })
                        @Html.LabelFor(x => x.RememberMe, new { @class = "" })
                    </div>
                    <br />
                    <a class="register-option" asp-controller="Usuarios" asp-action="Create">¿Eres nuevo? Registrate</a>
                </div>
            }
        </div>
    </form>
