@model IEnumerable<proyecto1.Models.Partida>

<h2>Juegos en los que has participado</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numTurnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adversario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numTurnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adversario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartida">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartida">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartida">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
